
main.ico ICON "main.ico"
1 VERSIONINFO
FILEVERSION     2025,2,28,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN      
      VALUE "ProductName", "RTFIR"
      VALUE "ProductVersion", "14"
      VALUE "LegalCopyright", "stefanyovev"
      VALUE "OriginalFilename", "RTFIR.exe"
      VALUE "FileDescription", "RTFIR"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

