
main.ico ICON "main.ico"
1 VERSIONINFO
FILEVERSION     2025,1,1,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN      
      VALUE "ProductName", "RTFIR"
      VALUE "ProductVersion", "10"
      VALUE "LegalCopyright", "RTFIR.com"
      VALUE "OriginalFilename", "RTFIR.exe"
      VALUE "FileDescription", "Realtime Sound EQ"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

